In [ ]:
x = 5
print(type(x))

<class 'int'>

In [ ]:
x = "Hello World"

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [ ]:
x = 20.5

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
x = 1j

#display x:
print(x)

#display the data type of x:
print(type(x))

1j
<class 'complex'>

In [ ]:
x = ["apple", "banana", "cherry"]

#display x:
print(x)

#display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [ ]:
x = ("apple", "banana", "cherry")

#display x:
print(x)

#display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [ ]:
x = True
#display X:
print(x)
#display the data type of x:
print(type(x))

True
<class 'bool'>

In [ ]:
x = ["apple", "mangoes", "orange"]

#display x:
print(x)

#display the data type of x:
print(type(x))

['apple', 'mangoes', 'orange']
<class 'list'>

In [ ]:
x = ("apple", "Orange", "mangoes")

#display x:
print(x)

#display the data type of x:
print(type(x))

('apple', 'Orange', 'mangoes')
<class 'tuple'>

In [23]:
x = 1
y = 2.8
z = 1j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [ ]:
x = 20
#display x:
print(x)
#display the data type of x:
print(type(x))

20
<class 'int'>