In [1]:
#range
range(50)

range(0, 50)

In [6]:
for f in range(0,15,2):
    print(f)

0
2
4
6
8
10
12
14

In [9]:
# calculate sum of first 50 natural numbers
sum=0
for s in range(0,51):
    sum=sum+s
    print(s)
print(sum)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
1275

In [10]:
product=1
for p in range(1,5):
     product=product*p
print(product)

24

In [13]:
sum=0
for s in range (1,8):
    sum+=s
print(s)
print(sum)

7
28

In [ ]:
def sum_n()
    
    var1=12
    var2=45
    sum=var1+var2
    return sum