In [1]:
#Python Tuples
thistuple = ("apple","banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [4]:
thistuple = ("apple","banana", "cherry", "apple", "cheery")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cheery')

In [5]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [6]:
thistuple = ("apple",)
print(type(type(thistuple)))
#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'type'>
<class 'str'>

In [8]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [9]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [10]:
tuple1 = ("abc", 34, True, 40, "male")

In [11]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>