In [2]:
#conditional statement
# if
# if else
# if elif else

#syntax

if 3 > 30:
    print("we are in the body  of the if statement")
    print("???????")
    print("if simple having one block")

print("this line is not part of if")

this line is not part of if

In [4]:
if 14 < 13:
    print("*******this is sum**********")
    a = 12
    b = 3
    sum = a + b
    print("the answer of sum:", sum)
 else:
    print("*******this is minus**********")
    a = 12
    b = 3
    m = a - b
    print("the answer of sum:", m)

IndentationError: unindent does not match any outer indentation level (<string>, line 7)

In [ ]:
#functions
#user defined function
## without parameters, no input no return
# function defination
def sum():
    a = 12
    b = 23
    c = a + b
    print("the sum of a and b is :", c)

In [ ]:
#functions
#user defined function
# with parameters
# function defination
def sum(a,b):
    c = a + b
    print("the sum of a and b is :", c)

In [ ]:
sum()

the sum of a and b is : 35

In [ ]:
# function call
sum(10,30)

the sum of a and b is : 40

In [ ]:
def even_odd(n):
    if n%2 == 0:
        print(n, "is even")
    else:
        print(n, "is Odd")

In [ ]:
# find the number is even or odd from 1 to 50.
for v in range(1,51):
    even_odd(v)

1 is Odd
2 is even
3 is Odd
4 is even
5 is Odd
6 is even
7 is Odd
8 is even
9 is Odd
10 is even
11 is Odd
12 is even
13 is Odd
14 is even
15 is Odd
16 is even
17 is Odd
18 is even
19 is Odd
20 is even
21 is Odd
22 is even
23 is Odd
24 is even
25 is Odd
26 is even
27 is Odd
28 is even
29 is Odd
30 is even
31 is Odd
32 is even
33 is Odd
34 is even
35 is Odd
36 is even
37 is Odd
38 is even
39 is Odd
40 is even
41 is Odd
42 is even
43 is Odd
44 is even
45 is Odd
46 is even
47 is Odd
48 is even
49 is Odd
50 is even

In [ ]:
def even_odd(n):
    if n%2 == 0:
        return "even"
    else:
        return "Odd"

In [ ]:
ans = even_odd(3)
print(ans)

Odd

In [ ]:
def my_function():
  print("Hello from a function")

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil")

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

In [ ]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

In [ ]:
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

In [ ]:
def myfunction():
  pass

In [ ]:
def my_function(x, /):
  print(x)

my_function(3)

In [1]:
def my_function(x):
    prinit(x)
    my_function(x-3)

In [ ]:
def my_function(x, /):
  print(x)

my_function(x = 3)

In [ ]:
def my_function(*, x):
  print(x)

my_function(x = 3)

In [ ]:
def my_function(x):
  print(x)

my_function(3)

In [ ]:
def my_function(*, x):
  print(x)

my_function(3)

In [ ]:
def my_function(a, b, /, *, c, d):
  print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

In [ ]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

In [ ]:
print(ans)

Odd