In [11]:
myset = {"apple", "banana", "Cherrry"}

In [12]:
thisset = { "apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [13]:
thisset = { "apple", "banana", "cherry"} 
print(len(thisset))

3

In [14]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [15]:
set1 = {"abc", 34, True, 40, "male"}

In [16]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [17]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}

In [18]:
thisset = {"apple", "apple", "cherry", "apple"}
print(thisset)

{'apple', 'cherry'}

In [19]:
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{'apple', 'banana', 2, True, 'cherry'}

In [20]:
thisset = {"apple", "banana", "cherry", False, True, 0}
print(thisset)

{False, 'banana', True, 'apple', 'cherry'}